{% extends 'dashboard/base.html' %} 
{% load static %} 
{% block content %}

<section class="container text-center">
  {% if user.last_name %}
  <h3>Chào mừng {{user.last_name}}</h3>
  {% else %}
  <h3>Chào mừng {{user}}</h3>
  {% endif %}

  <hr> <br>
  <div class="row">
    <div class="col-md-3">
      <a href="{% url 'notes' %}">
        <div class="card">
          <img class="card-img-top rounded" src="{% static 'images/notes.jpg' %}" alt="Notes image">
          <div class="card-body">
            <h5 class="card-title ">
              Ghi chú
            </h5>
            Tạo bất kỳ ghi chú gì mà bạn cần. Được lưu vĩnh viễn cho đến khi bị xóa
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-3">
      <a href="{% url 'homework' %}">
        <div class="card">
          <img class="card-img-top rounded" src="{% static 'images/homework.jpg' %}" alt="Notes image">
          <div class="card-body">
            <h5 class="card-title ">
              Bài tập về nhà
            </h5>
            Thêm bài tập về nhà kèm theo thời hạn, giúp hạn kiểm soát bài tập về nhà, bài tập sẽ hiển thị theo thứ tự hạn chót
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3">
      <a href="{% url 'youtube' %}">
        <div class="card">
          <img class="card-img-top rounded" src="{% static 'images/youtube.jpeg' %}" alt="Notes image">
          <div class="card-body">
            <h5 class="card-title ">
              Youtube
            </h5>
            Công cụ giúp bạn tìm kiếm nhanh video trên youtube
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3">
      <a href="{% url 'todo' %}">
        <div class="card">
          <img class="card-img-top rounded" src="{% static 'images/todo.jpg' %}" alt="Notes image">
          <div class="card-body">
            <h5 class="card-title ">
              To Do
            </h5>
            Thêm danh sách việc cần làm trong ngày của bạn và có thể xóa khi cần
          </div>
        </div>
      </a>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-3 pt-4">
      <a href="{% url 'books' %}">
        <div class="card mt-20">
          <img class="card-img-top rounded" src="{% static 'images/books.png' %}" alt="Notes image">
          <div class="card-body">
            <h5 class="card-title ">
              Thư viện sách
            </h5>
            Thư viện sách với đa dạng các đầu mục cho bạn khám phá
          </div>
        </div>
      </a>
    </div>



    <div class="col-md-3 pt-4">
      <a href="{% url 'dictionary' %}">
        <div class="card">
          <img class="card-img-top rounded" src="{% static 'images/dictionary.jpg' %}" alt="Notes image">
          <div class="card-body">
            <h5 class="card-title ">
              Từ điển
            </h5>
           Bạn gặp vấn đề về từ vựng, đừng lo, công cụ này sẽ giúp bạn tra từ điển 1 cách nhanh chóng
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3 pt-4">
      <a href="{% url 'wiki' %}">
        <div class="card">
          <img class="card-img-top rounded" src="{% static 'images/wiki.png' %}" alt="Notes image">
          <div class="card-body">
            <h5 class="card-title ">
              WikiPedia
            </h5>
            Cần thông tin cho bài tập về nhà ?, có lối tắt wiki ngay tại đây 💪
          </div>
        </div>
      </a>
    </div>


    <div class="col-md-3 pt-4">
      <a href="{% url 'conversion' %}">
        <div class="card">
          <img class="card-img-top rounded" src="{% static 'images/conversion.png' %}" alt="Notes image">
          <div class="card-body">
            <h5 class="card-title ">
              Chuyển đổi đơn vị
            </h5>
            Công cụ hữu ích giúp bạn chuyển đổi đơn vị trong tích tắc
          </div>
        </div>
      </a>
    </div>
  </div>

  
  <div class="row">
    <div class="col-md-3 pt-4">
      <a href="{% url 'news' %}">
        <div class="card mt-20">
          <img class="card-img-top rounded" src="{% static 'images/news.png' %}" alt="Notes image">
          <div class="card-body">
            <h5 class="card-title ">
              Tin tức
            </h5>
            Đừng quên cập nhật tin tức mới mỗi ngày tại đây nhé !!
          </div>
        </div>
      </a>
    </div>
  </div>
  
</section>
{% endblock content %}