{% extends 'dashboard/base.html' %} 
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<section class="text-center">
    <div class="container">
    {% if not todos_done %}
        <h2>Công việc cần làm</h2>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tiêu đề</th>
                    <th scope="col">Trạng thái</th>
                    <th scope="col">Xóa</th>
                </tr>
            </thead>
            <tbody>
                {% for todo in todos  %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{todo.title}}</td>
                    <td>
                        <a href="{% url 'update-todo-profile' todo.id %}">
                            <div class="form-check">
                                {% if todo.is_finished %}
                                <input class="form-check-input" type="checkbox" value="" checked>
                                {% else %}
                                <input class="form-check-input" type="checkbox" value="">
                                {% endif %}
                                <label class="form-check-label text-dark" for="flexCheckDefault">
                                    Đã hoàn thành
                                </label>
                            </div>
                        </a>
                    </td>

                    <td><a href="{% url 'delete-todo-profile' todo.id %}"><i class="fa fa-trash fa-2x"></i></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h3>Tất cả công việc đã được hoàn thành !!!!</h3>
    {% endif %}
        <a href="{% url 'todo' %}" class="btn btn-danger">To Do</a>
        <br><br>
        <hr>

        {% if not homework_done %}
        <h2>Bài tập cần làm</h2>
        <table class="table table-striped table-bordered table-hover ">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Môn học</th>
                    <th scope="col">Tiêu đề</th>
                    <th scope="col">Chi tiết bài tập</th>
                    <th scope="col">Hạn chót</th>
                    <th scope="col">Trạng thái</th>
                    <th scope="col">Xóa</th>
                </tr>
            </thead>
            <tbody>
                {% for homework in homeworks %}
                <tr>
                    <th scope="row">{{forloop.count}}</th>
                    <td>{{homework.subject}}</td>
                    <td>{{homework.title}}</td>
                    <td>{{homework.desc}}</td>
                    <td>{{homework.due}}</td>

                    <td>
                        <a href="{% url 'update-homework-profile' homework.id %}">
                            <div class="form-check">
                                {% if homework.is_finished %}
                                <input class="form-check-input" type="checkbox" value="" checked>
                                {% else %}
                                <input class="form-check-input" type="checkbox" value="">
                                {% endif %}
                                <label class="form-check-label text-dark" for="flexCheckDefault">
                                    Đã hoàn thành
                                </label>
                            </div>
                        </a>
                    </td>
                    <td><a href="{% url 'delete-homework-profile' homework.id%}"><i class="fa fa-trash fa-2x"></i></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h3>Tất cả bài tập đã được hoàn thành !!!!</h3>
        {% endif %}
        <a href="{% url 'homework' %}" class="btn btn-danger">Bài tập về nhà</a>
    </div>
</section>

{% endblock content %}