{% extends 'dashboard/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
  <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      {{form|crispy}}    
      <h4>Mail đã được gửi</h4>
      <p>Chúng tôi đã gửi cho bạn hướng dẫn đặt mật khẩu qua email, nếu tài khoản tồn tại với email bạn đã nhập. Bạn sẽ nhận được chúng trong thời gian ngắn.</p>
      <p>Nếu bạn không nhận được email, vui lòng đảm bảo rằng bạn đã nhập địa chỉ bạn đã đăng ký và kiểm tra thư mục thư rác.</p>
  </form>
</div>
{% endblock content %}