{% extends 'dashboard/base.html' %} 
{% load static %} 

{% block content %}
<section class='text-center container'>
    <h2>Tìm kiếm video trên youtube</h2>
    <p>tìm và chọn bất kỳ video nào để xem trên youtube</p>
    <form action="" method="post">
        {% csrf_token %}
        {{form}}
        <input class="btn btn-danger" type="submit" value="OK">
    </form><br>

    {% for result in results %}
    <a href="{{result.link}}" id="headerVideoLink" class="hvb" target="_blank">
        <div class="card rounded mt-4">
            <div class="bg-light rounded card">
                <div id="headerPopup" class="mfp-hide embed-responsive rounded-top embed-responsive-21by9">
                    <iframe class="embed-responsive-item" width="854" height="480" src="{{result.embedlink}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div> 
                <div class="d-flex">                    
                    <div class="col rounded-bottom bgd">
                        <h3 class="p-0 m-0">{{result.title}}</h3>                                                             
                        <div width="500" class="pb-3">       
                            <u>                     
                            <h6 class="">{{result.channel}}</h6>  
                            </u>                         
                            <h6 class="">{{result.description}}</h6>                       
                            <h6 class="">{{reslt.duration}}</h6>
                            <h6 class="">{{result.views}}</h6>
                            <h6 class="">{{result.published}}</h6>
                        </div>
                        
                       
                        
                        
                        
                    </div>
                </div>
                
            </div>
        </div>          
    </a>
    {% endfor %}
    <br>
</section>
{% endblock content %}